.corpo-site{
    margin: auto;
    display: flex;
    width: 1515px;
    height: 1700px;
    background: linear-gradient(to right, rgba(0, 73, 244, 0.2), rgba(240, 142, 161, 0.4));
}

.corpo-site h1{
    margin: auto;
    display: flex;
    font-size: 90px;
    justify-content:start;
    color: rgb(98, 204, 253);
}

.textos p{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 45px;
}