/* src/pages/Login/style.css */

/* Fundo geral */
body {
  background-color: #eaf6ff; /* azul claro */
  font-family: Arial, sans-serif;
}

/* Título */
h2 {
  text-align: center;
  color: #003366; /* azul escuro */
  margin-bottom: 1.5rem;
}

/* Formulário centralizado */
form {
  background: #fff;
  max-width: 400px;
  margin: 5% auto;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Labels */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}

/* Inputs */
input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
}


button {
  width: 100%;
  padding: 0.8rem;
  background-color: #003366;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00264d;
}


.password-container {
  position: relative;
  padding-right: 40px;
  position: relative;
  width: 100%;
}


.password-container input {
  width: 100%;
  padding: 14px 45px 14px 16px; /* mesmo padding do cadastro + espaço pro ícone */
  font-size: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 16px; /* mesmo valor do padding lateral */
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  font-size: 1.2rem;
  line-height: 0; /* evita deslocamento vertical */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px; 
}